body {
  margin: 0;
  background-color: #10273d;
}

.outside {
  position: relative;
  width: 100%;
  height: 200px;
}

.board {
  left: 50%;
  top: 100%;
  margin-left: -200px;
  margin-top: -50px;
  position: absolute;
  width: 400px;
  height: 100px;
  text-align: center;
}

.board p {
  font-size: 30px;
  padding-bottom: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
}

.title {
  background-color: white;
}

.pt-title {
  background: -webkit-linear-gradient(#009c3b, #ffdf00);
}

.en-title {
  background: -webkit-linear-gradient(#b22234, #3c3b6e);
}

button {
  margin-top: 20px;
}

label {
  border: solid 2px transparent;
  border-radius: 10%;
  padding: 25px;
  margin: 5px;
  transition: linear;
  transition-duration: 0.2s;
  color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  cursor: pointer;
}

label:hover {
  border: solid 2px white;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
} 

.en-label {
  background: linear-gradient(#10273d, #10273d) padding-box, linear-gradient(to right, #b22234, #3c3b6e) border-box;
  /* gradiente feito com a ajuda deste site: https://www.loopnerd.com.br/codigos-css-prontos/como-colocar-borda-gradiente-css/ */
}

.pt-label {
  background: linear-gradient(#10273d, #10273d) padding-box, linear-gradient(to right, #009c3b, #ffdf00) border-box;
}

.space {
  margin: 25px;
}

/* 
REFERENCIA PRA ESSE BOTÃO ABAIXO: 
https://medium.com/@christianjbolus/how-to-make-a-button-with-a-gradient-border-and-gradient-text-in-html-css-7d495656169 */

button {
  z-index: 1;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  transition: linear;
  transition-delay: 0.2s;
}

button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: #10273d;
  border-radius: 13px;
  z-index: -1;
  transition: 200ms;
}

button::after {
  content: attr(value);
  font-size: 16px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
	-webkit-text-fill-color: transparent;
}

#en-button::after {
  background-image: linear-gradient(to right, #3c3b6e,#b22234);
}

#pt-button::after {
  background-image: linear-gradient(to right, #ffdf00, #009c3b);
}

#en-button {
  background: linear-gradient(to right, #b22234, #3c3b6e);
  padding-right: 17px;
  padding-left: 17px;
}

#pt-button {
  background: linear-gradient(to right, #009c3b, #ffdf00);
}

#en-button:hover {
  background: linear-gradient(white, white);
  /* background-clip: text;
  -webkit-background-clip: text; */
  color: transparent;
	-webkit-text-fill-color: transparent;
}

#pt-button:hover {
  background-image: linear-gradient(white, white);
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  color: white;
	-webkit-text-fill-color: white;
}
