body {
  margin: 0;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #10273d;
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
  /* margin-top: 3px; */
}

#switch {
  height: 60px;
  padding: 0;
}

.links {
  text-decoration: none;
  border: solid 2px #10273d;
  padding: 20px;
  margin: 0px;
  color: white;
}

.links:visited {
  color: inherit;
}

.links:hover {
  border: solid 2px #FAFAFA;
  transition-duration: 0.2s;
}

.page-sections {
  /* justify-content: space-between; */
  display: flex;
  justify-content: space-around;
}  

.profile-container {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-left: 40px;
  width: 200px;
}

ul {
  list-style-type: none;
}

#skills-section ul {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

#contact-bar ul {
  display: flex;
  justify-content: center;
}

.title-text {
  text-align: center;
}

.svg {
  height: 50px;
}

.skills {
  height: 40px;
  border: 2px transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .skills:hover {
  cursor: pointer;
  border: 2px white solid;
  transition-duration: 0.2s;
} */

#projects {
  display: flex;
  justify-content: center;
}

#projects li {
  margin-right: 15px;
  margin-left: 15px;
}

.project-links {
  border: 2px transparent solid;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}

.project-links:hover {
  border: 2px white solid;
  transition-duration: 0.2s;
}

.project-links:visited {
  color: inherit;
}

#my-projects {
  margin-bottom: 45px;
}

.project-name {
  text-align: center;
}

.experience-content {
  text-align: center;
}